<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
            integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>
<body>
<header th:insert="blocks/header::header"></header>

<div class="container-fluid">
    <div class="row">
        <div th:insert="blocks/navbar::navbar"></div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 th:text="${title}" class="h2"/>
            </div>
            <br>
            <div class="row g-3">
                <div class="col-sm-6">
                    <p class="mb-1 fw-bolder">Список доступных кредитов</p>
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                            <tr>
                                <th class="col-sm-1 fw">#</th>
                                <th class="text-end fw-normal">Лимит по кредиту, руб.</th>
                                <th class="text-end fw-normal">Процентная ставка, %</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="credit:${credits}">
                                <td th:text="${credits.indexOf(credit)} + 1"/>
                                <td class="text-end" th:text="${credit.creditLimit}"/>
                                <td class="text-end" th:text="${credit.interestRate}"/>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                </div>
            </div>
            <div class="row g-3">
                <div class="col-sm-12">
                    <p class="mb-1 fw-bolder">Список клинтов банка</p>
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <thead>
                            <tr>
                                <th class="col-sm-1">#</th>
                                <th class="fw-normal">ФИО клиента</th>
                                <th class="text-end fw-normal">Сумма кредита, руб</th>
                                <th class="text-end fw-normal">Процентная ставка, %</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="co:${creditOffers}">
                                <td th:text="${creditOffers.indexOf(co)} + 1"/>
                                <td th:text="${co.getCustomer().toString()}"/>
                                <td class="text-end" th:id="creditAmount + ${creditOffers.indexOf(co)}" th:text="${co.creditAmount}"/>
                                <td class="text-end" th:text="${co.getCredit().interestRate}"/>
                                <td class="text-end">
                                    <form th:action="'/banks_schedule/' + ${bank.id} +'/' + ${co.id} +'/' + ${co.getCustomer().getId()}">
                                        <button th:id="printSchedule+${creditOffers.indexOf(co)}"
                                                class="btn btn-sm btn-outline-secondary paymentSchedule">График платежей
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                </div>
            </div>
            <div class="row mx-1 resultTable">
                <table>
                    <thead>
                    <tr>
                        <th>Клиент</th>
                        <th>Всего выплат:</th>
                        <th>Переплата:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td  class="col-4 fw-normal fs-5" th:text="${customer.toString()}"></td>
                        <td id="total" class="col-3 fw-normal fs-5"></td>
                        <td id="overpayment" class="col-3 fw-normal fs-5"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br>

            <div class="table-responsive resultTable">
                <table class="table  table-striped table-sm">
                    <thead>
                    <tr>
                        <th>Дата платежа</th>
                        <th>Сумма платежа, руб.</th>
                        <th>Основной долг, руб.</th>
                        <th>Начисленные %, руб.</th>
                    </tr>
                    </thead>
                    <div>
                        <tbody class="bodies">
                        <!--th:id="paymentSchedule + ${index.removeFirst()}"-->
                        <tr th:each="cp:${creditPayments}">
                            <td th:text="${cp.dateOfPayment}"></td>
                            <td class="paymentOfMonth" th:text="${cp.paymentOfMonth}"></td>
                            <td class="amountOfCredit" th:text="${cp.paymentOfLoanBodyInMonth}"></td>
                            <td th:text="${cp.paymentOfPercentInMonth}"></td>
                        </tr>
                        </tbody>
                    </div>
                </table>
                <div class="invisible">
                    laskfjl
                </div>
            </div>
        </main>
    </div>
</div>
<script type="text/javascript" src="/js/index.js"></script>
<script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function () {
        let totalAmount = 0;
        let amountOfCredit = 0;
        $(".paymentOfMonth").each(function () {
            totalAmount += parseFloat($(this).html());
        })
        $(".amountOfCredit").each(function () {
            amountOfCredit += parseFloat($(this).html());
        })
        $('#total').html(totalAmount.toFixed(2) + " руб.")
        $('#overpayment').html((totalAmount-amountOfCredit).toFixed(2) + " руб.");
    })

    //todo вытащить сумму кредита
</script>
</body>
</html>